.header {}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
}

.header__logo {
  z-index: 11;
}

.nav {}

.nav__list {
  display: flex;
  gap: 35px;
}

.nav__items {}

.nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 200px;
  width: 170px;
  height: 50px;
  text-transform: uppercase;

  transition: var(--transition);
}

.nav__link:hover {
  background: #9ea7a4;
  color: #fff;
}



.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  transition: var(--transition);
}


.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.header__shop {
  display: flex;
  gap: 15px;
}

.header__search {}

.header__basket {}

/* ==== */

